body {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin: 0px;
}
.board {
  display: grid;
  height: max(10rem, 80vmin);
  width: max(10rem, 80vmin);
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  font-size: max(10rem, 90vmin);
  font-family: sans-serif;
  margin: 5vmin
}
.board > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25%;
  margin: 0px;
}
.unmarked:hover {
  background-color: grey;
}
.top {
  border-bottom: 1px solid black;
  grid-row: 1 / span 1;
}
.center {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  grid-row: 2 / span 1;
}
.bottom {
  grid-row: 3 / span 1;
  border-top: 1px solid black;
}
.left {
  border-right: 1px solid black;
  grid-column: 1 / span 1;
}
.middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
  grid-column: 2 / span 1;
}
.right {
  border-left: 1px solid black;
  grid-column: 3 / span 1;
}
.winO {
  background-color: greenyellow;
}
.winX {
  background-color: coral;
}