body {
  display: flex;
  width: 90vw;
  justify-content: center;
  margin: 5vw;
}
.container {
  display: grid;
  grid-template: repeat(6,1fr) / repeat(8,1fr);
}
.board {
  grid-area: 1 / 2 / 7 / 8;
  display: grid;
  height: max(10rem, 80vmin);
  width: max(10rem, 80vmin);
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  font-size: max(10rem, 90vmin);
  font-family: sans-serif;
}
.board > div {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25%;
  margin: 0px;
}
.unmarked:hover {
  background-color: grey;
}
.top {
  border-bottom: 1px solid black;
  grid-row: 1 / span 1;
}
.center {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  grid-row: 2 / span 1;
}
.bottom {
  grid-row: 3 / span 1;
  border-top: 1px solid black;
}
.left {
  border-right: 1px solid black;
  grid-column: 1 / span 1;
}
.middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
  grid-column: 2 / span 1;
}
.right {
  border-left: 1px solid black;
  grid-column: 3 / span 1;
}
.winX {
  background-color: greenyellow;
}
.winO {
  background-color: coral;
}
.winner {
  grid-area: 2 / 1 / 6 / 9;
  display: flex;
  flex-direction: column;
  font-size: 15vmin;
  align-items: center;
  justify-content: space-evenly;
  background-color: blue;
  border-radius: 2rem;
}
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.show {
  visibility: visible;
  opacity: 0.9;
  transition: visibility 0s linear 0s, opacity 3s;
}